@model OpenLaboratory.Web.Models.Equipment

@{
    ViewData["Title"] = "设备详情";
}

<h1>详情</h1>
<h4>设备</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laboratory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">编辑</a>
    <a asp-action="Index" class="btn btn-primary">返回设备列表</a>
</div>
